.winning-fighter {
  color: red;
  background-color: $green;
  text-align: center;
  margin: 50px 0;
}
.fight-event {
  width: 40vw;
  margin: $center;
  margin-top: 24px;
  text-align: center;

  .fight {
    color: $orange;
    padding: 12px;
    font-size: 1.5em;
  }

  .celeb-health {
    color: $green;
    padding: 12px;
    margin-top: 12px;
  }

  .next-round {
    margin: 24px;
    padding: 4px 16px;
    background-color: black;
    color: $orange;
    border: 2px solid white;
    border-radius: 4px;
  }


  .full-health {
    width: 100%;
    height: 48px;
    color: $green;
    background-color: $green;

    &__content {
      color: $green;
    }
  }

  .half-health {
    width: 35%;
    height: 48px;
    color: $orange;
    background-color: $orange;

    &__content {
      color: $orange;
    }
  }
}
